
on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    chmod 0660 /dev/qseecom
    chown system drmrpc /dev/qseecom
    chmod 0664 /dev/ion
    chown system system /dev/ion
    install_keyring

on fs
    start hwservicemanager
    start servicemanager
    start hal_cryptoeng_oppo
    
on boot
    setprop sys.usb.config adb
    chmod 0777 /system/bin/make-dir.sh
    start make-dir
    
# Separate copy needed to use /sbin/linker64 instead of /system/bin/linker64
service sbinqseecomd /system/bin/qseecomd
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service hwservicemanager /system/bin/hwservicemanager
    user root
    group root readproc
    disabled
    onrestart setprop hwservicemanager.ready false
    seclabel u:r:recovery:s0

service servicemanager /system/bin/servicemanager
    user root
    group root readproc
    disabled
    seclabel u:r:recovery:s0

service keystore_auth /system/bin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

service make-dir /system/bin/make-dir.sh 
    user root
    group root
    disabled
    seclabel u:r:recovery:s0
    
service hal_cryptoeng_oppo /system/bin/hw/vendor.oplus.hardware.cryptoeng@1.0-service
    class late_start
    user system
    group system input sdcard_rw sdcard_r
    seclabel u:r:recovery:s0

service keystore /system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /system/bin/android.hardware.gatekeeper@1.0-service-qti
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keymaster-4-1 /system/bin/android.hardware.keymaster@4.1-service-qti
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service resyncapex /system/bin/resyncapex.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

service prepdecrypt /system/bin/prepdecrypt.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

####
on property:hwservicemanager.ready=true
    start sbinqseecomd
    start resyncapex 
    start prepdecrypt

on property:vendor.sys.listeners.registered=true
    start keymaster-4-1
    start gatekeeper-1-0

on property:ro.crypto.state=unsupported
    stop sbinqseecomd
    stop keymaster-4-0
    stop gatekeeper-1-0
    #stop servicemanager
    stop hwservicemanager

on property:ro.crypto.state=unencrypted
    stop sbinqseecomd
    stop keymaster-4-1
    stop gatekeeper-1-0
    #stop servicemanager
    stop hwservicemanager

on property:twrp.decrypt.done=true && property:twrp.all.users.decrypted=true
    stop sbinqseecomd
    stop keymaster-4-1
    stop gatekeeper-1-0
    #stop hal_cryptoeng_oppo
    #stop servicemanager
    stop hwservicemanager


